
body{
    background-color: rgb(174, 94, 94);
    padding: 30px 100px;
}
h1{
    text-align: center;
    background-color: #254747;
    color: aliceblue;
    padding: 15px;
    margin: 35px 130px 0px 130px;    
}
#container{
    text-align: center;
}
#box{
    background-color: rgb(174, 219, 219);
}
button{    
    background-color: rgb(240, 51, 51);
    border-radius: 15px;
    padding: 8px;
    border: #f7f7f8;     
}
button :hover{    
    color: rgb(10, 51, 66) ;
    border-color: black;
}
.cle{
    color: rgb(248, 238, 238);
    font-size: 20px;
    font-weight: bold;
}
#textbox{
   width: 75%;
}
p{
    background-color: #254747;
    margin: -4px 130px 0px 130px;  
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
}


textarea {
    width: 75%;
    height: 200px;
  }
@media screen and (max-width: 550px) {
    body{
        width: 100%;
        padding: 10px;
    }
    h1{
        width: 85%;
        text-align: center;
        padding: 15px; 
        margin: 10px;
        margin-right: 30px;
    }
    p{
        width: 85%;
        text-align: center;
        padding: 15px; 
        margin: 10px;
        margin-right: 30px;
    }
}
